:root{
  --white: #fdfffc;
  --black: #0b090a;
  --red: #8d0801;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
/*Empieza el header*/
header{
  width: 100vw;
  height: auto;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.header--logo{
  background-image: url("../multimedia/images/—Pngtree—mountain\ bike\ race_3290276.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  width: 45px;
  height: 45px;
  margin: 5px 0 5px 5px;
  z-index: 9;
}
.header--list{
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease; 
  background: linear-gradient(180deg, rgba(11,9,10,1) 50%, rgba(140,8,1,1) 86%, rgba(141,8,1,1) 100%); 
  gap: 50px;
}
.one{
  clip-path: inset(0 0 100% 0);
}
.two{
  clip-path: inset(0 0 0 0);
}
.header--list li a{
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  color:var(--white);
}
/*Animacion de linea bottom header*/
.header--list li a::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}
.header--list li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header--list li a::before {
  content: " ";
  display: block;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: red;
  z-index: 2;
  transition: transform .3s ease;
  border-radius: 20px;
  height: 2px;
  position: relative;
  top: 21px;
}
.header--list li a {
  position: relative;
}
.iconMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: transparent;
  height: 55px;
  padding: 0 8px;
  z-index: 3;
  cursor: pointer;
}
.iconMenu span{
  font-size: 20px;
}



/*Empieza el main*/
main {
  background-color: var(--white);
}
.section--about{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes tipsy {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
  }
}
.section--about h1{
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  transform: translateX(1%) translateY(1%);
}
.section--about h1:before,
.section--about h1:after {
  content: '';
  padding: 18px 0px;
  position: absolute;
  left: 50%;
  width: 336px;
  top: 50%;
  display: block;
  border-top: 5px solid var(--red);
  border-bottom: 5px solid var(--red);
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
  animation: 9s infinite alternate ease-in-out tipsy;
}
.section--about h1:before {
  border-color: var(--red) var(--red) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: -1;
  box-shadow: 0px -3px 5px rgba(46, 46, 49, .5);
}
.section--about h1:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--red) var(--red);
  box-shadow: 0px 3px 5px rgba(46, 46, 49, .5);
}
.section--about p{
  background-color: var(--white);
  z-index: 1;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 15px;
  height: 110px;
}



/*Empieza section accordion*/
.section--accordion .accordion {
  width: 80vw;
  margin: 0 auto;
}
.section--accordion .accordion input {
  display: none;
}
.box {
  position: relative;
  background: white;
    height: auto;
    transition: all .15s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.box-title {
  width: calc(100% - 40px);
  height: 24px;
  line-height: 24px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
  width: calc(100% - 40px);
  padding: 30px 20px;
  font-size: 11pt;
  color: rgba(0,0,0,.54);
  display: none;
}
.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
input:checked + .box .box-title {
  border-bottom: 1px solid rgba(0,0,0,.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}
.section--accordion .arrows section .box-title {
  padding-left: 44px;
  width: calc(100% - 64px);
}
.section--accordion .arrows section .box-title:before {
  position: absolute;
  display: block;
  content: '\203a';
  font-size: 18pt;
  left: 20px;
  top: -2px;
  transition: transform .15s ease-in-out;
  color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
  transform: rotate(90deg);
}

